/**
 * CSS for displaying:
 *     - visited pages;
 */

#pagesHistory {
    padding-top: 3px;
    padding-left: 15px;
    max-width: calc(100% - 310px);
    overflow-x: auto;
    overflow-y:hidden;
    white-space: nowrap; 
}

#pagesHistory div {
    display: inline-block;
    text-align: right;
    text-overflow: ellipsis;
    direction: rtl;
    overflow: hidden;
    max-width: 100px;
    padding: 5px 5px 5px 16px;
    margin-right: 4px;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    border: 1px dotted #444;
}

#pagesHistory div:before {
    content: '>';
    direction: ltr;
    position: absolute;
    left: 5px;
    top: 5;
}

#pagesHistory div:not(.active):hover {
    background: #e02c3d;
    border-style: solid;
    transition: all 0.1s ease-out;
}

#pagesHistory div:not(.active):active {
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.8);
}

#pagesHistory div.active{
    background: #e02c3d;
}

#pagesHistory div.disabled {
    color: #ccc !important;
    opacity: 0.5;
    cursor: help;
}

#recordButtons label {
    font-size: 14px;
    vertical-align: baseline;
    padding: 1px;
}

#recordButtons input {
    cursor: pointer;
}

#recordButtons .checker {
    transform: scale(1.2);
}
